* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  flex-direction: row;
  border-bottom: solid #d9d9d9;
  z-index: 2;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navbar {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
header nav .navbar li a {
  text-decoration: none;
  font-size: 1.56rem;
  color: #d9d9d9;
  background-color: #141d0f;
  border-radius: 1.875rem;
  padding: 0.5rem;
}
header nav .navbar li a:hover {
  color: #65A23F;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
  }
  header .navbar {
    gap: 1.1rem;
  }
  header .navbar li a {
    font-size: 1.1rem;
    padding: 0.3rem;
  }
}
@media (max-width: 425px) {
  .navbar {
    flex-direction: column;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
}
main .section-principal {
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url(../assets/img/mix-frutos3.png);
  background-size: cover;
  background-position: 35% 35%;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
}
main .section-principal:hover {
  filter: contrast(110%);
}
main .section-principal h1 {
  padding: 2.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.48);
  color: white;
  font-size: 2.81rem;
  border-radius: 4rem;
  flex-wrap: wrap;
}
main .main-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
  padding-bottom: 3.5rem;
}
main .main-categories h2 {
  font-size: 2.2rem;
  flex-direction: column;
}
main .grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2rem;
}
main .grid-container .nuts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
main .grid-container .nuts img {
  border-radius: 1.875rem;
}
main .grid-container .nuts .button-card {
  text-decoration: none;
  font-size: 1rem;
  background-color: #141d0f;
  border-radius: 1.875rem;
  padding: 0.5rem 0;
  border: none;
}
main .grid-container .nuts .button-card a {
  color: #ffffff;
  text-decoration: none;
}
main .grid-container .seeds {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
main .grid-container .seeds img {
  border-radius: 1.875rem;
}
main .grid-container .seeds .button-card {
  text-decoration: none;
  font-size: 1rem;
  background-color: #141d0f;
  border-radius: 1.875rem;
  padding: 0.5rem 0;
  border: none;
}
main .grid-container .seeds .button-card a {
  color: #ffffff;
  text-decoration: none;
}
main .grid-container .spices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
main .grid-container .spices img {
  border-radius: 1.875rem;
}
main .grid-container .spices .button-card {
  text-decoration: none;
  font-size: 1rem;
  background-color: #141d0f;
  border-radius: 1.875rem;
  padding: 0.5rem 0;
  border: none;
}
main .grid-container .spices .button-card a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  main .section-principal h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  main .section-principal h1 {
    font-size: 1.7rem;
  }
  main .main-categories h2 {
    font-size: 1.7rem;
  }
  main .grid-container .nuts {
    padding: 2rem 0.2rem;
  }
  main .grid-container .seeds {
    padding: 2rem 0.2rem;
  }
  main .grid-container .spices {
    padding: 2rem 0.2rem;
  }
}
footer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left center right";
  background-color: #d9d9d9;
}
footer .left {
  grid-area: left;
  justify-content: center;
  align-items: center;
  padding-left: 7rem;
}
footer .left .img-footer {
  width: 17rem;
  justify-content: center;
  align-items: center;
}
footer .center {
  grid-area: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
footer .center form input {
  width: 12rem;
  height: 2rem;
  border-radius: 1.875rem;
  border: none;
}
footer .center form button {
  width: 5rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #141d0f;
  color: #d9d9d9;
  border: none;
}
footer .center form button:hover {
  background-color: #65A23F;
  color: #000000;
}
footer .right {
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .right .ig-wsp-mail {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
footer .right .ig-wsp-mail img {
  width: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  footer .left {
    padding-left: 1rem;
  }
  footer .center form input {
    width: 10rem;
  }
  footer .center form button {
    width: 4rem;
  }
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .center {
    display: none;
  }
  footer .left {
    padding: 0;
  }
  footer .right {
    padding-bottom: 3rem;
  }
}
@media (max-width: 425px) {
  .img-footer {
    width: 14rem;
  }
}

/*# sourceMappingURL=style.css.map */
