footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "left center right";
    background-color: $grey-d9; 
    .left{
        grid-area: left;
        justify-content: center;
        align-items: center;
        padding-left: 7rem;  
        .img-footer{
            width: 17rem;
            justify-content: center;
            align-items: center;
        }
    }
    .center{
        grid-area: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 1.5rem;
        form{
            input{
                width: 12rem;
                height: 2rem;
                border-radius: 1.875rem;
                border: none;
            }
            button{
                width: 5rem;
                height: 2rem;
                border-radius: 2rem;
                background-color: $back-butt-nav;
                color: $grey-d9;
                border: none;
                &:hover{
                    background-color: $green-hover;
                    color: #000000;
                }
            }
        }
    }
    .right{
        grid-area: right;
        display: flex;
        justify-content: center;
        align-items: center;
        .ig-wsp-mail{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 2.5rem;
            justify-content: center;
            align-items: center;
            img{
                width: 2.8rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}