header{
   display: flex; 
   justify-content: space-between;
   padding: 1rem 1.25rem;
   flex-direction: row;
   border-bottom: solid #d9d9d9;
   z-index: 2; 
   nav{
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar{
        display: flex;
        list-style: none;
        gap: 2rem;
        align-items: center;
        li{
            a{
                text-decoration: none;
                font-size: 1.56rem;
                color: #ffffff;
                background-color: #141d0f;
                border-radius: 1.875rem;
                padding: .5rem;
                &:hover{
                    color: $green-hover;
                }
            }
            }
        }
    }
}
